<!DOCTYPE html>
<html ng-app="scapApp" ng-controller="mainCtrl">

    <head>
        <meta charset="utf-8" />
        <title>SCAP</title>
        <link href="../css/lib/jquery-ui.css" rel="stylesheet" />
        <link href="../css/lib/jquery-ui.structure.css" rel="stylesheet" />
        <link href="../css/lib/jquery-ui.theme.css" rel="stylesheet" />
        <link href="../css/lib/bootstrap.css" rel="stylesheet" />
        <link href="../css/lib/bootstrap-grid.css" rel="stylesheet" />
        <link href="../css/lib/bootstrap-reboot.css" rel="stylesheet" />
    </head>
    <body>
        
        <div ng-include="login"></div>

        <script src="../js/lib/angular.min.js"></script>

        <script src="../js/app.js"></script>
    </body>

</html>