<div class="container">
    
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Log In</h4>

            <form ng-submit="login()">
                <label>User:</label>
                <input type="text" class="form-control-sm"  ng-model="usrnm" />      
                <label>Password:</label>
                <input type="password" class="form-control-sm" ng-model="pass" />
                <br />
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>


</div>   